.xspl-layer {
  display:block;
  background-size: cover;
  background-repeat:no-repeat;
  background-position:50% 0;
  background-attachment:fixed;
}
 
.horizontal {overflow:hidden; }
 
.scroll-stage {
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  -ms-transition:all .5s;
  -o-transition:all .5s;
  transition:all .5s;
}
 
.horizontal .xspl-layer {
  float:left;
  -webkit-transition:all .5s linear;
  -moz-transition:all .5s linear;
  -ms-transition:all .5s linear;
  -o-transition:all .5s linear;
  transition:all .5s linear;
}
